<!DOCTYPE html>
<html>
<head>
<title>PDF</title>
  <meta charset="utf-8">
  <%= wicked_pdf_stylesheet_link_tag "application" -%>
</head>
<body>
  <ul>
    <% @subjects.each do |subject| %>
      <li><%= subject %></li>
    <% end %>
  </ul>
  、最後一期還款本息額：NT$ 17
    11、利息計算方式：足月部份按月計息者，本金乘以年利率，再除以十二即得每月之利息額。不
    足一個月之畸零天數部分，則按日計息，即：一年(含閏年)以三百六十五日為計息基礎，以本金乘
    以年利率、天數，再除以三百六十五即得畸零天數部分之利息額
    <h2>二、本金之支付</h2>
    <ol>
      <li>申貸人及投資人同意由瑞保網路科技股份有限公司於貸款本金撥交申貸人時自行扣除本筆交易應收取之服務費及應提撥之補償金。</li>
      <li>投資人若未於下單後二工作日內將貸款本金及手續費匯入設立於瑞保網路科技股份有限公司之會員專屬帳戶，則本合約失其效力。</li>
      <li>投資人同意，若選擇投資無風險保護之案件，投資人已經明確理解並願意承擔因為投資無風險保護案件所產生之相關風險與責任。風險與責任之細節已經在您同意成為會員時已另行約定並且詳述於會員條款中。</li>
    </ol>
    <h2>三、借貸成功</h2>
      <ol>
        <li>此合約標註之借貸案，如已達目標金額上限，或目標日屆至時已達最低目標金額，投資人的貸款本金將由瑞保網路科技股份有限公司交付於申貸人。</li>
      </ol>
    <h2>四、還款</h2>
      <ol>
        <li>
          申貸人應依本合約第一條約定之時間及金額，按期將應返還之金額匯入設立於瑞保網路科技股份有限公司之申貸人會員專屬帳戶，並依約歸入瑞保網路科技股份有限公司之投資人會員專屬帳戶。
        </li>

        <li>
          依本契約借款期間，每壹個月為壹期，依年金法平均攤還本息，並約定每月8日為繳款日。申貸人同意如借貸起始日超過當月8日者，依照本合約得將繳款日順延一個月，首期計息日數將因此增加，則首期應繳款項將大於約定之每月應攤還本息金額。因此，申貸人的第一期還款將包含借貸起始日後不足月之畸零日利息。
        </li>
        <li>
          申貸人的最後一期還款必須包含全部剩餘本金、利息及其他根據本合約產生之費用（包含但不限於因爲延遲繳款或繳款不足額所產生的罰款、利息等等費用）。
        </li>
        <li>
          投資人同意，若選擇投資無風險保護之案件，投資人已經明確理解並願意承擔因為投資無風險保護案件所產生之相關風險與責任。風險與責任之細節已經在您同意成為會員時已另行約定並且詳述於會員條款中。
        </li>
    五、借貸失敗
    1、本合約預定之借貸案，如逾目標日仍未達最低目標金額，則本合約失其效力。
    六、補充條款
    1、緣申貸人使用本平台提出資金需求、投資人使用本平台借出款項予申貸人，當您註冊成為本平
    台申貸人或或投資人、並開始使用本服務時，即視為您已經閱讀、瞭解並同意接受本合約條款。
    日後本公司如有修改或變更本條款之內容，修改後的本條款內容將公佈本平台網站上。您可隨時
    上網查閱最新條款。修改或更新之條款，均構成本條款之一部分。若您不同意本平台新修訂之條
    款，得隨時終止本條款，並立即停止使用本平台之服務，但已經進行中的案件則須依照合約履
    行。若您於前開修改或變更後繼續使用本服務，視為您已閱讀、瞭解並同意接受該等修改或變
    更，並且同意依照合約履行相關責任與義務。
    2、本合約未約定之事項，由會員條款補充之。
    3、本合約的簽訂、履行、終止、解釋均適用中華民國法律，因本合約所生爭議由台北地方法院為
    第一審管轄法院。
</body>
</html>

